#form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}
.div_forms{
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.input_class{
    border: 2px solid aqua;
    padding: 5px;
    border-radius: 5px;
}
#submit{
    background-color:aqua;
    border-radius: 5px;
    padding: 5px;
}
#submit:hover{
    background-color: blueviolet;
}
